/* Styling for Rogue.Js */
#RogueCanvas{
   width: 1180px;
   height: 450px; 
    float:left;
   border: 1px solid lightgray;
} 

#container{
    width: 1185px;
    height:450px;
    margin:0 auto;
    margin-top: 50px;
    padding:0;
}

#RogueHUD{
   width: 1185px;
   height: 20px; 
   margin: 0 auto;
   margin-top:0px;
    border: 1px solid lightgray;
} 

#RoguePanel{
    width: 220px;
    height: 450px;
    float:left;
    border: 1px solid lightgray;
}

a {
    display:inline-block;
    padding:5px;
    text-decoration: none;
    background-color: darkgray;
    border: 2px solid lightgray;
    margin: 2px;
    width:40px;
    color:white;
    font-size: 12px;
    text-align: center;
}


body{
    background: #000; 
    margin: 0; 
    padding: 0; 
    width: 100%; 
    height: 100%;
}

h1{
    color:lightgray;
    size:24pt;
    font-family: "andale mono" monospace;
}

h3{
    color:lightgray;
    size:20pt;
    margin: 10px;
    font-family: "andale mono" monospace;
}

p{
    color:lightgray;
    size:14pt;
    font-family: "andale mono" monospace;
}

.title{
    width:960px;
    margin: 0 auto;
    text-align: center;
}

#Restart{
    visibility: hidden;
    width: 1185px;
    height: 40px; 
    margin: 0 auto;
    margin-top:0px;
    text-align: center;
    border: 1px solid lightgray;
}